@font-face {
  font-family: Berthold Regular;
  src: url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.eot);
  src: url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.woff) format("woff"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.svg) format("svg"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Light;
  src: url(/fonts/Berthold_akzidenz/Light/Berthold-Light.eot);
  src: url(/fonts/Berthold_akzidenz/Light/Berthold-Light.woff) format("woff"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.svg) format("svg"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Medium;
  src: url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.eot);
  src: url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.woff) format("woff"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.svg) format("svg"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Bold;
  src: url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.eot);
  src: url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.woff) format("woff"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.svg) format("svg"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  background-color: #909091;
  font-family: berthold Light;
  font-size: 18px;
  text-decoration: none; }
  body a {
    text-decoration: none; }

#wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10px; }
  #wrapper #container {
    width: auto;
    margin-right: 2%;
    margin-left: 2%; }
    #wrapper #container #header {
      width: 96%;
      margin: 10px auto;
      background-color: #FFFFFF;
      height: 100px;
      z-index: 100;
      position: fixed; }
      #wrapper #container #header .top-left {
        text-align: left;
        float: left;
        text-decoration: none; }
      #wrapper #container #header .main-menu {
        display: none; }
      #wrapper #container #header .nav-menu {
        float: right; }
        #wrapper #container #header .nav-menu li {
          display: inline;
          padding-left: 15px; }
      #wrapper #container #header .more-bt {
        float: right;
        text-align: right;
        z-index: 100; }

#content {
  width: 100%;
  background-color: #FFFFFF;
  height: 400px;
  margin-bottom: 10px; }

#footer {
  width: 100%;
  background-color: #FFFFFF;
  height: 400px; }

/*# sourceMappingURL=style-mobile.css.map */
