@font-face {
  font-family: Berthold Regular;
  src: url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.eot);
  src: url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.woff) format("woff"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.svg) format("svg"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Light;
  src: url(/fonts/Berthold_akzidenz/Light/Berthold-Light.eot);
  src: url(/fonts/Berthold_akzidenz/Light/Berthold-Light.woff) format("woff"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.svg) format("svg"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Medium;
  src: url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.eot);
  src: url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.woff) format("woff"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.svg) format("svg"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Bold;
  src: url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.eot);
  src: url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.woff) format("woff"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.svg) format("svg"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
#wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10px; }
  #wrapper #container {
    width: auto;
    margin-right: 2%;
    margin-left: 2%; }
    #wrapper #container #header {
      width: 100%;
      margin: auto;
      background-color: #eb7272;
      height: 35px;
      z-index: 100;
      position: fixed;
      left: 0;
      top: 0;
      padding-top: 10px;
      padding-left: 2%;
      padding-right: 2%; }
      #wrapper #container #header .top-left {
        text-align: left;
        float: left;
        text-decoration: none; }
      #wrapper #container #header .main-menu {
        display: none; }
      #wrapper #container #header .nav-menu {
        float: right; }
        #wrapper #container #header .nav-menu li {
          display: inline;
          padding-left: 15px; }
      #wrapper #container #header .more-bt {
        float: right;
        text-align: right;
        z-index: 100; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 0%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #fffdfd;
  /* Black fallback color */
  background-color: #fffdfd;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: height 0.5s ease-out;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  font-family: Berthold Bold; }

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20 px;
  color: black;
  display: inline;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */ }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  text-decoration: underline; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 20px; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
#content {
  width: 100%;
  background-color: #FFFFFF;
  height: auto;
  margin-bottom: 10px; }
  #content #portfolio {
    padding-top: 80px; }
    #content #portfolio article {
      text-align: left;
      padding-bottom: 15px; }
      #content #portfolio article img {
        width: 100%;
        padding-bottom: 5px; }
  #content .container-text {
    padding-top: 110px; }
    #content .container-text #intro-txt {
      text-align: left; }
      #content .container-text #intro-txt p {
        font-family: Berthold Bold;
        font-size: 34px;
        line-height: 46px; }

#footer {
  width: 100%;
  background-color: #FFFFFF;
  text-align: left; }
  #footer #social-link {
    padding-top: 60px;
    text-align: left; }
    #footer #social-link li {
      padding-top: 8px; }
      #footer #social-link li a:hover {
        text-decoration: underline; }
  #footer #ft-mail {
    padding-top: 40px;
    width: 80%; }
    #footer #ft-mail article p {
      line-height: 20px; }
  #footer #top {
    padding-top: 40px; }
    #footer #top article {
      display: inline; }
  #footer #copyright {
    padding-top: 40px;
    left: 0;
    bottom: 0;
    font-size: 14px; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  background-color: #909091;
  font-family: Berthold Light !important;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none; }
  body a {
    text-decoration: none; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
#content {
  padding-top: 110px;
  text-align: left; }

#box-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.form-style-8 {
  font-family: 'Berthold Light', arial, sans;
  width: auto;
  padding: 0 10%;
  background: #FFFFFF;
  margin: 50px auto;
  text-align: right; }
  .form-style-8 h2 {
    text-transform: uppercase;
    font-family: 'Berthold Light', sans-serif;
    color: black;
    font-size: 14px;
    text-align: left;
    padding: 20px;
    margin: -30px -30px 30px -30px; }
  .form-style-8 textarea {
    resize: none;
    overflow: hidden; }

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Berthold Light, Helvetica, sans-serif;
  height: 45px; }

.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: 'Berthold Light', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-align: center;
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 10px 0 0 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

/*# sourceMappingURL=style-contact.css.map */
