* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  background-color: white;
  font-family: Berthold Regular;
  font-size: 20px;
  text-decoration: none; }
  body a {
    text-decoration: none; }

@font-face {
  font-family: Berthold Regular;
  src: url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.eot);
  src: url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.woff) format("woff"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.svg) format("svg"), url(/fonts/Berthold_akzidenz/Regular/Berthold-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Light;
  src: url(/fonts/Berthold_akzidenz/Light/Berthold-Light.eot);
  src: url(/fonts/Berthold_akzidenz/Light/Berthold-Light.woff) format("woff"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.svg) format("svg"), url(/fonts/Berthold_akzidenz/Light/Berthold-Light.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Medium;
  src: url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.eot);
  src: url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.woff) format("woff"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.svg) format("svg"), url(/fonts/Berthold_akzidenz/Medium/Berthold-Medium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Berthold Bold;
  src: url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.eot);
  src: url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.woff) format("woff"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.ttf) format("truetype"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.svg) format("svg"), url(/fonts/Berthold_akzidenz/Bold/Berthold-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }
#wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10px; }
  #wrapper #container {
    width: auto;
    margin-right: 2%;
    margin-left: 2%; }
    #wrapper #container #header {
      width: 100%;
      margin: auto;
      background-color: white;
      height: 45px;
      z-index: 100;
      position: fixed;
      left: 0;
      top: 0;
      padding-top: 15px;
      padding-left: 2%;
      padding-right: 2%; }
      #wrapper #container #header .top-left {
        text-align: left;
        float: left;
        text-decoration: none; }
      #wrapper #container #header .main-menu {
        display: none; }
      #wrapper #container #header .nav-menu {
        float: right; }
        #wrapper #container #header .nav-menu li {
          display: inline;
          padding-left: 15px; }
      #wrapper #container #header .more-bt {
        float: right;
        text-align: right;
        z-index: 100; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 125px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: -125px;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 10px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
  font-family: Berthold Regular;
  text-align: right; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-decoration: underline; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 2px;
  right: -2px;
  font-size: 22px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
/* iPads (portrait) ----------- */
@media (min-width: 768px) {
  #wrapper {
    width: 100%;
    text-align: center;
    margin-top: 10px; }
    #wrapper #container {
      width: auto;
      margin-right: 4%;
      margin-left: 4%; }
      #wrapper #container #header {
        width: 100%;
        margin: auto;
        background-color: white;
        height: 45px;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 15px;
        padding-left: 4%;
        padding-right: 4%; }
        #wrapper #container #header .top-left {
          text-align: left;
          float: left;
          text-decoration: none; }
        #wrapper #container #header .main-menu {
          display: inline; }
        #wrapper #container #header .nav-menu {
          float: right; }
          #wrapper #container #header .nav-menu li {
            display: inline;
            padding-left: 15px; }
        #wrapper #container #header .more-bt {
          display: none; } }
@media (min-width: 1024px) {
  #wrapper {
    width: 100%;
    text-align: center;
    margin-top: 10px; }
    #wrapper #container {
      width: auto;
      margin-right: 6%;
      margin-left: 6%; }
      #wrapper #container #header {
        width: 100%;
        margin: auto;
        background-color: transparent;
        height: 45px;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 15px;
        padding-left: 6%;
        padding-right: 6%; }
        #wrapper #container #header .top-left {
          text-align: left;
          float: left;
          text-decoration: none; }
        #wrapper #container #header .main-menu {
          display: inline; }
        #wrapper #container #header .nav-menu {
          float: right; }
          #wrapper #container #header .nav-menu li {
            display: inline;
            padding-left: 15px; }
        #wrapper #container #header .more-bt {
          display: none; } }
#content {
  width: 100%;
  background-color: #FFFFFF;
  height: auto;
  margin-bottom: 10px; }
  #content #categorias::before {
    content: "";
    width: 300px;
    height: 42px;
    background-color: white;
    position: absolute;
    left: -300px;
    z-index: 9; }
  #content #categorias {
    position: relative;
    text-align: left; }
    #content #categorias img {
      float: left; }
  #content #portfolio {
    padding-top: 15px; }
    #content #portfolio article {
      text-align: left;
      padding-bottom: 15px;
      width: 100%; }
      #content #portfolio article img {
        width: 100%;
        padding-bottom: 5px; }
  #content .container-text {
    padding-top: 110px; }
    #content .container-text #intro-txt {
      text-align: left; }
      #content .container-text #intro-txt p {
        font-family: Berthold Bold;
        font-size: 34px;
        line-height: 46px; }

/* The side navigation menu */
.sidenav_cat {
  background-color: rosybrown;
  height: 34px;
  /* 100% Full-height */
  width: 300px;
  /* 0 width - change this with JavaScript */
  position: relative;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 27px;
  /* Stay at the top */
  left: -300px;
  background-color: white;
  /* Black*/
  padding-top: 7px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav_cat a {
  padding: 8px 0px 8px 5px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: inline;
  transition: 0.3s;
  font-family: Berthold Regular;
  text-align: left; }

/* When you mouse over the navigation links, change their color */
.sidenav_cat a:hover {
  text-decoration: underline; }

/* Position and style the close button (top right corner) */
.sidenav_cat .closebtn {
  position: absolute;
  top: 0px;
  left: 210px;
  font-size: 22px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
@media (min-width: 768px) {
  #content #portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10px; }
    #content #portfolio article {
      text-align: left;
      padding-bottom: 15px;
      width: 50%; }
      #content #portfolio article img {
        width: 100%;
        padding-bottom: 5px; } }
#footer {
  width: 100%;
  background-color: #FFFFFF;
  text-align: left; }
  #footer #social-link {
    padding-top: 45px;
    text-align: left; }
    #footer #social-link li {
      text-decoration: underline;
      padding-top: 8px; }
      #footer #social-link li a {
        color: black; }
  #footer #ft-mail {
    padding-top: 40px;
    width: 80%; }
    #footer #ft-mail article p {
      line-height: 26px; }
  #footer #top {
    padding-top: 40px; }
    #footer #top img {
      cursor: pointer; }
    #footer #top article {
      display: inline; }
  #footer #copyright {
    padding-top: 40px;
    left: 0;
    bottom: 0;
    font-size: 14px; }

#caja {
  display: none; }

@media (min-width: 768px) {
  #social-link {
    display: none; }

  #footer #caja {
    display: inline; }
    #footer #caja .vertical-text {
      position: fixed;
      bottom: 30px;
      right: 30px;
      transform-origin: right bottom;
      /* margin-right: 35px; */
      z-index: 999;
      transform: rotate(-90deg) translateX(100%); }
      #footer #caja .vertical-text li {
        display: inline;
        padding-right: 5px; }
      #footer #caja .vertical-text .share {
        font-size: 10px;
        color: red; }
  #footer #ft-mail {
    width: 300px; }

  #caja.entra {
    transform: translateX(999); } }
#content-me {
  text-align: left; }
  #content-me .container-txt-me #info-me {
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left; }
    #content-me .container-txt-me #info-me ul {
      width: 300px;
      padding-bottom: 30px; }
      #content-me .container-txt-me #info-me ul li {
        padding-bottom: 16px; }
      #content-me .container-txt-me #info-me ul li:last-child {
        padding-bottom: none; }
    #content-me .container-txt-me #info-me article p {
      width: 100%;
      line-height: 26px; }
  #content-me #img-me {
    padding-top: 45px;
    width: 100%; }
    #content-me #img-me img {
      width: 100%; }

@media (min-width: 1024px) {
  #content-me {
    text-align: left; }
    #content-me .container-txt-me #info-me {
      padding-top: 110px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left; }
      #content-me .container-txt-me #info-me ul {
        width: 300px;
        padding-bottom: 30px; }
        #content-me .container-txt-me #info-me ul li {
          padding-bottom: 16px; }
        #content-me .container-txt-me #info-me ul li:last-child {
          padding-bottom: none; }
      #content-me .container-txt-me #info-me article p {
        width: 600px;
        line-height: 26px; }
    #content-me #img-me {
      padding-top: 45px;
      width: 100%; }
      #content-me #img-me img {
        width: 100%; } }
#text-cont {
  padding-top: 100px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #text-cont .text-1 {
    padding-right: 80px; }
    #text-cont .text-1 .first-txt {
      font-family: Berthold Medium;
      padding-bottom: 30px; }
  #text-cont .text-2 {
    padding-bottom: 30px; }
  #text-cont .text-3 {
    padding-right: 110px; }
    #text-cont .text-3 .mail-txt {
      font-family: Berthold Medium; }
    #text-cont .text-3 p {
      padding-bottom: 18px; }
    #text-cont .text-3 p:last-child {
      padding-bottom: 30px; }
  #text-cont .text-3:last-child {
    padding-right: none; }
  #text-cont .text-4 h3 {
    padding-bottom: 18px;
    font-family: berthold Medium; }
  #text-cont .text-4 ul li {
    padding-bottom: 18px; }

.form-style-8 {
  font-family: 'Berthold Light', arial, sans;
  width: auto;
  padding: 0 15%;
  background: #FFFFFF;
  margin: 50px auto;
  text-align: right;
  padding-top: 40px; }

.form-style-8 h2 {
  text-transform: uppercase;
  font-family: 'Berthold Light', sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 100;
  padding-left: 7px;
  text-align: left;
  margin: -30px -30px 30px 0px; }

.form-style-8 input[type="text"],
.form-style-8 input[type="email"],
.form-style-8 input[type="url"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 14px Berthold Light, Helvetica, sans-serif;
  height: 45px; }

.form-style-8 textarea {
  resize: none;
  overflow: hidden; }

.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 20px 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  cursor: pointer;
  color: black;
  font-family: 'Berthold Light', sans-serif;
  font-size: 14px;
  padding: 8px;
  text-decoration: none; }

.form-style-8 input:hover[type="button"],
.form-style-8 input:hover[type="submit"] {
  text-decoration: underline; }

#hand {
  cursor: pointer; }

#content-work {
  text-align: left;
  padding-top: 110px; }
  #content-work .container-txt-work #info-work {
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px; }
    #content-work .container-txt-work #info-work ul {
      padding-bottom: 30px; }
      #content-work .container-txt-work #info-work ul li {
        padding-bottom: 8px; }
    #content-work .container-txt-work #info-work .content-txt p {
      line-height: 26px;
      padding-bottom: 40px;
      width: 300px; }
  #content-work #img-work {
    width: 100%; }
    #content-work #img-work img {
      width: 100%; }
  #content-work #nav-img {
    padding-top: 45px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-grow: 1; }
    #content-work #nav-img div {
      padding-left: 10%; }
      #content-work #nav-img div p {
        cursor: pointer; }
      #content-work #nav-img div img {
        width: 32px;
        height: auto;
        cursor: pointer; }

/*# sourceMappingURL=style.css.map */
