#content {
    width: 100%;
    background-color:#FFFFFF;
    height:auto;
    margin-bottom:10px;
    #categorias::before{
            content:"";
            width: 300px;
            height: 42px;
            background-color:white;
            position: absolute;
            left:-300px;
            
            z-index: 9;
    }
    #categorias{
        position:relative;
        
        text-align: left;
        img{
            float: left;
        }
    }
    #portfolio{
    
        padding-top: 15px;
      article{
          text-align: left;
          padding-bottom: 15px;
          width: 100%;
          img{
              width: 100%;
              padding-bottom: 5px;  
          }
      } 
    }
    .container-text{
        padding-top:110px;
        #intro-txt{
            text-align: left;
           
            p{
                font-family: Berthold Bold;
                font-size: 34px;
                line-height: 46px;
            }
        }
    }
} 


// ------------MENU CATEGORIAS--------------///


 /* The side navigation menu */
 .sidenav_cat {
    background-color:  rosybrown;
    height: 34px; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 27px; /* Stay at the top */
    left: -300px;
    background-color:white; /* Black*/
    // overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 7px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav_cat a {
    padding: 8px 0px 8px 5px;
    text-decoration: none;
    font-size: 18px;
    color:black;
    display: inline;
    transition: 0.3s;
    font-family: Berthold Regular;
    text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav_cat a:hover {
    text-decoration: underline;
}

/* Position and style the close button (top right corner) */
.sidenav_cat .closebtn {
    position: absolute;
    top: 0px;
    left: 210px;
    font-size: 22px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 






@media (min-width: 768px) {
    #content{
        #portfolio{
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-top: 10px;
            
            article{
                text-align: left;
                padding-bottom: 15px;
                width: 50%;
      
                img{
                    width: 100%;
                    padding-bottom: 5px;  
                }
            } 
        }
    }
}