#content {
    width: 100%;
    background-color:#FFFFFF;
    height:auto;
    margin-bottom:10px;
    #portfolio{
        padding-top: 80px;
      article{
          text-align: left;
          padding-bottom: 15px;
          img{
              width: 100%;
              padding-bottom: 5px;
          }
      }
      
    }
    .container-text{
        padding-top:110px;
        #intro-txt{
            text-align: left;
           
            p{
                font-family: Berthold Bold;
                font-size: 34px;
                line-height: 46px;
            
            }
        }
    }
} 