



#text-cont{
    padding-top: 100px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .text-1{
        padding-right:80px;
        .first-txt{
            font-family: Berthold Medium;
            padding-bottom: 30px;

        }
    }
    .text-2{
        padding-bottom: 30px;
    }
    .text-3{
        padding-right:110px;
        .mail-txt{
            font-family: Berthold Medium;
        }
        p{
            padding-bottom: 18px;
        }
        p:last-child{
            padding-bottom: 30px;
        }
    }
    .text-3:last-child{
        padding-right: none;
    }
    .text-4{
        h3{
            padding-bottom: 18px;
            font-family: berthold Medium;
        }
        ul{
            li{
                padding-bottom: 18px;
            }
        }
    }
}


.form-style-8{
    font-family: 'Berthold Light', arial, sans;
    width: auto;
    padding: 0 15%;
    background: #FFFFFF;
    margin: 50px auto;
    text-align: right;
    padding-top: 40px;
}
.form-style-8 h2{
    
    text-transform: uppercase;
    font-family: 'Berthold Light', sans-serif;
    color:black;
    font-size: 16px;
    font-weight: 100;
    padding-left: 7px;
    text-align: left;
    margin: -30px -30px 30px 0px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="email"],
.form-style-8 input[type="url"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 14px Berthold Light, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    // delete button class atribute

    background: none;
    color: inherit;
    border: none;
    padding: 20px 0 ;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    // -------------------
    cursor: pointer;
    color:black;
    font-family: 'Berthold Light', sans-serif;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
  
    
}
.form-style-8 input:hover[type="button"],
.form-style-8 input:hover[type="submit"]{
    text-decoration: underline
}

