


#info-me{
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    
    ul{
        width: 300px;
    }
    article{
        p{
        width: 300px;
    }
    }
}