*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #909091;
    font-family: berthold Light;
    font-size: 18px;
    text-decoration: none;
    a{
        text-decoration: none;
    }
}

@import "variables";

@import "style-m-header";
@import "style-m-content";
@import "style-m-footer";

